<!-- <button class="cta-button">Get Started</button>
<div class="nav-links">
  <a href="#about" class="nav-button">About</a>
  <a href="#services" class="nav-button">Services</a>
</div>
<div class="logo">MyLogo</div> -->

<nav class="navbar">
  <button class="cta-button">تسجيل دخول</button>
  <!-- <div class="nav-links">
    <a href="#about" class="nav-button">دليل الجهات الحكوميه</a>
    <a href="#services" class="nav-button">تصفح الخدمات</a>
  </div>
  <div class="logo">
    <img
      class="text"
      src="/assets/LogoText.png"
      style="width: 212px; height: 29px"
    />
    <img src="/assets/CoatOfArms.png" style="width: 34px; height: 47px" />
  </div> -->
</nav>
