<!--------------------------- Nav Bar ---------------------------->
<nav class="navbar">
  <button class="cta-button">تسجيل خروج</button>
  <div class="nav-links">
    <!-- <a href="#about" class="nav-button">دليل الجهات الحكوميه</a>
            <a href="#services" class="nav-button">تصفح الخدمات</a> -->
  </div>
  <div class="logo">
    <img
      class="text"
      src="/assets/LogoText.png"
      style="width: 212px; height: 29px"
    />
    <img src="/assets/CoatOfArms.png" style="width: 34px; height: 47px" />
  </div>
</nav>

<!--------------------------- Div ---------------------------->
<div class="title">
  <h1>انشاء طلب رفع مساحي</h1>
</div>

<!--------------------------- Div ---------------------------->
<form action="" [formGroup]="realStateRequest">
  <div class="data" style="height: 500px; width: 100%">
    <div class="title1">
      <p>بيانات صاحب الطلب</p>
    </div>
    <div class="fields">
      <div class="field">
        <p>البريد الالكتروني</p>

        <input
          class="inputText"
          formControlName="ownerEmail"
          type="text"
          placeholder="ادخل البريد الالكتروني"
        />
      </div>
      <div class="field">
        <p>ادخل رقم الموبايل</p>
        <input
          class="inputText"
          formControlName="phone"
          type="text"
          placeholder="رقم الموبايل"
        />
      </div>
      <div class="field">
        <p>اسم صاحب العقار بالكامل</p>
        <input
          class="inputText"
          type="text"
          formControlName="ownerFullName"
          placeholder="ادخل الاسم"
        />
      </div>
      <div class="field">
        <p>الرقم القومي</p>
        <input
          class="inputText"
          type="text"
          formControlName="nationalId"
          placeholder="ادخل الرقم القومي"
        />
      </div>
    </div>
  </div>

  <!--------------------------- Div ---------------------------->
  <div class="data" style="height: 500px; width: 100%">
    <div class="title1">
      <p>بيانات الوكيل</p>
    </div>
    <div class="fields">
      <div class="field">
        <p>البريد الالكتروني</p>

        <input
          class="inputText"
          type="text"
          formControlName="agentEmail"
          placeholder="ادخل البريد الالكتروني"
        />
      </div>
      <div class="field">
        <p>ادخل رقم الموبايل</p>
        <input
          class="inputText"
          type="text"
          formControlName="agentPhone"
          placeholder="رقم الموبايل"
        />
      </div>
      <div class="field">
        <p>اسم الوكيل بالكامل</p>
        <input
          class="inputText"
          type="text"
          formControlName="agentFullName"
          placeholder="ادخل الاسم"
        />
      </div>
      <div class="field">
        <p>الرقم القومي</p>
        <input
          class="inputText"
          type="text"
          formControlName="agentNationalId"
          placeholder="ادخل الرقم القومي"
        />
      </div>
    </div>
  </div>

  <!--------------------------- Div ---------------------------->
  <div class="data" style="height: 1030px; width: 100%">
    <div class="title1">
      <p>بيانات الطلب</p>
    </div>
    <div class="fields">
      <div class="field">
        <p>نوع العقار</p>
        <select formControlName="realStateType" id="cars" class="inputText">
          <option value="villa">فيلا</option>
          <option value="townHouse">تاون هاوس</option>
          <option value="twinHouse">توين هاوس</option>
          <option value="managerialBuilding">مبني اداري</option>
          <option value="commercialBuilding">مبني تجاري</option>
          <option value="Chalet">شاليه</option>
          <option value="commercialStore">محل تجاري</option>
        </select>
      </div>
      <div class="field">
        <p>مساحه العقار</p>
        <input
          class="inputText"
          formControlName="area"
          type="text"
          placeholder="ادخل المساحه"
        />
      </div>
      <div class="field">
        <p>المحافظه</p>
        <select
          name="cars"
          id="cars"
          formControlName="governorate"
          class="inputText"
        >
          <option value="القاهره">القاهره</option>
          <option value="بورسعيد">بورسعيد</option>
          <option value="الاسكندريه">الاسكندريه</option>
          <option value="المنصوره">المنصوره</option>
          <option value="الاسماعيليه">الاسماعيليه</option>
          <option value="الجيزه">الجيزه</option>
          <option value="الدقهليه">الدقهليه</option>
          <option value="دمياط">دمياط</option>
          <option value="السويس">السويس</option>
          <option value="مطروح">مطروح</option>
          <option value="القليوبيه">القليوبيه</option>
          <option value="قنا">قنا</option>
          <option value="المنوفيه">المنوفيه</option>
          <option value="الوادي الجديد">الوادي الجديد</option>
          <option value="الفيوم">الفيوم</option>
          <option value="سوهاج">سوهاج</option>
          <option value="بني سويف">بني سويف</option>
          <option value="جنوب سيناء">جنوب سيناء</option>
          <option value="اسوان">اسوان</option>
          <option value="اسيوط">اسيوط</option>
          <option value="الاقصر">الاقصر</option>
          <option value="البحر الاحمر">البحر الاحمر</option>
        </select>
      </div>
      <div class="field">
        <p>المدينه</p>
        <select name="cars" formControlName="city" id="cars" class="inputText">
          <option value="مدينه نصر">مدينه نصر</option>
          <option value="مدينه الرحاب">مدينه الرحاب</option>
          <option value="مدينه السلام">مدينه السلام</option>
          <option value="مدينه النرجس">مدينه النرجس</option>
          <option value="مصر الجديده">مصر الجديده</option>
          <option value="منشيه ناصر">منشيه ناصر</option>
          <option value="الزمالك">الزمالك</option>
          <option value="الزاويه الحمراء">الزاويه الحمراء</option>
          <option value="السيده زينب">السيده زينب</option>
        </select>
      </div>
      <div class="field">
        <p>رقم العقار</p>
        <input
          class="inputText"
          type="text"
          formControlName="realStateNumber"
          placeholder="ادخل رقم العقار"
        />
      </div>
      <div class="field">
        <p>ادخل عدد ادوار العقار</p>
        <input
          class="inputText"
          type="text"
          formControlName="realStateFloorsNumber"
          placeholder="ادخل عدد الادوار"
        />
      </div>
      <div class="field">
        <p>ادخل العنوان بالكامل</p>
        <input
          class="inputText"
          id="address"
          type="text"
          formControlName="realStateAddress"
          placeholder="ادخل العنوان بالتفصيل"
        />
      </div>
      <br />
      <div class="field">
        <p>الوصف</p>
        <input
          class="inputText"
          id="desc"
          type="text"
          formControlName="realStateDescriptions"
          placeholder="ادخل وصف العقار"
        />
      </div>
    </div>
  </div>

  <!--------------------------- Div ---------------------------->
  <div class="data" style="height: 1000px; width: 100%">
    <div class="title1">
      <p>رفع المستندات المطلوبه</p>
    </div>

    <div class="upload-container fields">
      <!-- Single File Uploaders -->
      <div class="single-file-uploads field">
        <div
          *ngFor="let singleFileArray of singleFileArrays; let i = index"
          class="single-file-upload"
        >
          <h6 *ngIf="i === 0">صوره وجه البطاقه</h6>
          <h6 *ngIf="i === 1">صوره ضهر البطاقه</h6>
          <h6 *ngIf="i === 2">صوره وجه البطاقه للوكيل</h6>
          <h6 *ngIf="i === 3">صوره ضهر البطاقه للوكيل</h6>
          <input
            type="file"
            id="singleFileInput{{ i }}"
            class="file-input"
            accept=".pdf, .png, .jpeg, .jpg"
            (change)="onSingleFileSelected($event, i, singleImageArrays[i])"
          />
          <button
            class="upload-btn"
            (click)="triggerFileInput('singleFileInput' + i)"
          >
            اضغط هنا
          </button>
          <div class="file-preview" *ngIf="singleFileArray">
            <p>
              <i class="fas fa-file"></i> {{ singleFileArray?.name }} -
              {{ singleFileArray.size / 1024 / 1024 | number : "1.2-2" }} MB
              <span class="remove-file" (click)="removeSingleFile(i)"
                >&#10006;</span
              >
            </p>
          </div>
          <p
            style="font-size: 12px; margin-top: 5px; color: rgb(146, 146, 146)"
          >
            PDF, JPG, JPEG, PNG :الصيغ المدعومه
          </p>
          <p
            style="font-size: 12px; margin-top: 5px; color: rgb(146, 146, 146)"
          >
            اقصي حجم للملف 5 ميجابايت
          </p>
        </div>
      </div>

      <!-- Multiple File Uploaders -->
      <div class="multiple-file-uploads field">
        <div
          *ngFor="let multipleFilesArray of multipleFileArrays; let j = index"
          class="multiple-file-upload"
        >
          <h6 *ngIf="j === 0">صور محل الطلب</h6>
          <h6 *ngIf="j === 1">صور سند الملكيه</h6>
          <h6 *ngIf="j === 2">صور التوكيل</h6>
          <input
            type="file"
            id="multipleFileInput{{ j }}"
            class="file-input"
            multiple
            accept=".pdf, .png, .jpeg, .jpg"
            (change)="onMultipleFilesSelected($event, j)"
          />
          <button
            class="upload-btn"
            (click)="triggerFileInput('multipleFileInput' + j)"
          >
            اضغط لاضافه ملفات متعدده
          </button>
          <div class="file-preview" *ngIf="multipleFilesArray.length">
            <ul>
              <li *ngFor="let file of multipleFilesArray">
                <i class="fas fa-file"></i> {{ file.name }} -
                {{ file.size / 1024 / 1024 | number : "1.2-2" }} MB
                <span class="remove-file" (click)="removeMultipleFile(file, j)"
                  >&#10006;</span
                >
              </li>
            </ul>
          </div>
          <p
            style="font-size: 12px; margin-top: 5px; color: rgb(146, 146, 146)"
          >
            PDF, JPG, JPEG, PNG :الصيغ المدعومه
          </p>
          <p
            style="font-size: 12px; margin-top: 5px; color: rgb(146, 146, 146)"
          >
            اقصي حجم للملف 5 ميجابايت
          </p>
        </div>
      </div>
    </div>
  </div>

  <div
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 100px;
    "
  >
    <button (click)="sendRequest()" class="cta">انشئ طلب</button>
  </div>
</form>
