<!--------------------------- Nav Bar ---------------------------->
<nav class="navbar">
  <button class="cta-button">تسجيل خروج</button>
  <div class="nav-links">
    <!-- <a href="#about" class="nav-button">دليل الجهات الحكوميه</a>
        <a href="#services" class="nav-button">تصفح الخدمات</a> -->
  </div>
  <div class="logo">
    <img
      class="text"
      src="/assets/LogoText.png"
      style="width: 212px; height: 29px"
    />
    <img src="/assets/CoatOfArms.png" style="width: 34px; height: 47px" />
  </div>
</nav>

<!--------------------------- Div ---------------------------->
<div class="title">
  <h1>انشاء طلب رفع مساحي</h1>
</div>

<!--------------------------- Div ---------------------------->
<div class="data1" style="height: 500px; width: 100%">
  <div class="title1"><p>بيانات صاحب الطلب</p></div>
  <div class="fields">
    <div class="field">
      <p>الرقم القومي</p>
      <input type="text" placeholder="ادخل الرقم القومي" />
    </div>
    <div class="field">
      <p>اسم صاحب العقار بالكامل</p>
      <input type="text" placeholder="ادخل الاسم" />
    </div>
    <div class="field">
      <p>رقم الموبايل</p>
      <input type="text" placeholder="رقم الموبايل" />
    </div>
    <div class="field">
      <p>البريد الالكتروني</p>
      <input type="text" placeholder="ادخل البريد الالكتروني" />
    </div>
  </div>
</div>
