<!--------------------------- Nav Bar ---------------------------->
<nav class="navbar">
  <button class="cta-button" type="button" routerLink="/admin_login">
    تسجيل الخروج
  </button>
  <div class="nav-links"></div>
  <div class="logo">
    <img
      class="text"
      src="/assets/LogoText.png"
      style="width: 212px; height: 29px"
    />
    <img src="/assets/CoatOfArms.png" style="width: 34px; height: 47px" />
  </div>
</nav>

<br /><br /><br />
<br /><br /><br />

<div class="container">
  <div class="request-container">
    <h2 class="request-number">الطلب رقم 15612383</h2>

    <div class="request-details">
      <div class="button-section">
        <button
          class="btn-redistribute"
          type="button"
          routerLink="/revising_Management"
        >
          إعادة توزيع الطلب
        </button>
      </div>

      <div class="request-info">
        <p><strong>تاريخ الرفع:</strong> 14/9/2024</p>
        <p><strong>فريق المسح:</strong> الفرقة الثانية</p>
        <p><strong>كود الطاقم:</strong> 1256</p>
      </div>

      <div class="request-info">
        <p>
          <strong>حاله الطلب:</strong>
          <span class="status-link">جاري المسح</span>
        </p>
        <p><strong>اسم القائم بالرفع:</strong> محمد جمال</p>
      </div>
    </div>
  </div>

  <!--------------------------- Div ---------------------------->
  <div class="title">
    <h1>طلب الرفع المساحي</h1>
  </div>

  <!--------------------------- بيانات صاحب الطلب ---------------------------->
  <div class="data">
    <div class="title1">
      <p>بيانات صاحب الطلب</p>
    </div>
    <div class="container mr-5">
      <div class="fields">
        <div class="field">
          <p>البريد الالكتروني</p>
          <p>Mohamed54512yahoo.com</p>
        </div>
        <div class="field">
          <p>ادخل رقم الموبايل</p>
          <p>01234567890</p>
        </div>
        <div class="field">
          <p>اسم صاحب العقار بالكامل</p>
          <p>محمد</p>
        </div>
        <div class="field">
          <p>الرقم القومي</p>
          <p>12345678901234</p>
        </div>
      </div>
    </div>
  </div>

  <!--------------------------- بيانات الوكيل ---------------------------->
  <div class="data" style="width: 100%">
    <div class="title1">
      <p>بيانات الوكيل</p>
    </div>
    <div class="container mr-4">
      <div class="fields">
        <div class="field">
          <p>اسم الوكيل</p>
          <p>احمد</p>
        </div>
        <div class="field">
          <p>رقم الموبايل</p>
          <p>09876543210</p>
        </div>
        <div class="field">
          <p>البريد الالكتروني للوكيل</p>
          <p>Ahmedgmail.com</p>
        </div>
        <div class="field">
          <p>الرقم القومي</p>
          <p>98765432109876</p>
        </div>
      </div>
    </div>
  </div>

  <!--------------------------- بيانات الطلب ---------------------------->
  <div class="data" style="width: 100%">
    <div class="title1">
      <p>بيانات الطلب</p>
    </div>
    <div class="container mr-4">
      <div class="fields">
        <div class="field">
          <p>نوع العقار</p>
          <p>Apartment</p>
        </div>
        <div class="field">
          <p>مساحه العقار</p>
          <p>150 متر مربع</p>
        </div>
        <div class="field">
          <p>المدينه</p>
          <p>Cairo</p>
        </div>
        <div class="field">
          <p>المحافظه</p>
          <p>Giza</p>
        </div>
        <div class="field">
          <p>رقم العقار</p>
          <p>25</p>
        </div>
        <div class="field">
          <p>ادخل عدد ادوار العقار</p>
          <p>3</p>
        </div>
        <div class="field">
          <p>ادخل العنوان بالكامل</p>
          <p>123 مصر الجديدة القاهرة</p>
        </div>
        <br />
        <div class="field">
          <p>الوصف</p>
          <p>شقة كبيرة بوسط البلد</p>
        </div>
      </div>
    </div>
  </div>

  <!--------------------------- المستندات المرفوعه ---------------------------->
  <div class="title1">
    <p>المستندات المرفوعه</p>
  </div>
  <br /><br />

  <div class="docs">
    <div class="button-container">
      <a href="https://example1.com">
        <img
          src="/assets/idfront.jpg"
          alt="صوره البطاقه"
          class="styled-image"
        />
      </a>
      <a href="https://example2.com">
        <img
          src="assets/سند ملكية.jpg"
          alt="صوره عقد الملكيه"
          class="styled-image"
        />
      </a>
      <a href="https://example3.com">
        <img
          src="assets/idfront2.jpg"
          alt="صوره بطاقه الوكيل"
          class="styled-image"
        />
      </a>
      <a href="https://example4.com">
        <img src="assets/توكيل2.jpg" alt="صوره التوكيل" class="styled-image" />
      </a>
      <a href="https://example6.com">
        <img
          src="assets/فيلا للبيع.jpg"
          alt="صوره العقار 2"
          class="styled-image"
        />
      </a>
    </div>
  </div>
  <br /><br />

  <!--------------------------- Recived Results ---------------------------->
  <div class="recieved-results">
    <div class="title1">
      <p>نتيجه الرفع المساحي</p>
    </div>
    <div class="container mr-5">
      <div class="fields">
        <br />
        <div class="field2">
          <p>خط الطول</p>
          41.40338
        </div>
        <div class="field2">
          <p>خط العرض</p>
          2.17403
        </div>
        <div class="field2">
          <p>اسم مقدم الطلب</p>
          احمد خالد ايمن
        </div>
        <div class="field2">
          <p>رقم القطعه</p>
          5
        </div>
        <div class="field2">
          <p>المدينه</p>
          مدينه نصر
        </div>
        <div class="field2">
          <p>رقم الوحده الفعلي</p>
          6
        </div>
        <div class="field2">
          <p>رقم الوحده مساحيا</p>
          87
        </div>
        <div class="field2">
          <p>رقم الدور</p>
          2
        </div>
        <div class="field2">
          <p>وصف الحد</p>
          12345678901234
        </div>
        <div class="field2">
          <p>طول الحد</p>
          12345678901234
        </div>
        <div class="field2">
          <p>توصيف المكان من اقرب مكان مميزه</p>
          وصف
        </div>
        <div class="field2">
          <p>العنوان تفصيلا</p>
          عنوان
        </div>
        <div class="field2">
          <p>المساحه طبقا للطلب</p>
          500 متر
        </div>
        <div class="field2">
          <p>المساحه طبقا للرفع المساحي</p>
          498 متر
        </div>
        <div class="field2">
          <p>وصف العقار</p>
          وصف
        </div>
        <div class="field2">
          <p>استخدام (المبني/الشقه) حسب نوع الطلب</p>
          تجاري
        </div>
        <div class="fields">
          <div class="image" style="width: 500px; height: 500px">
            <img
              src="assets/draw.png"
              style="width: 100%; height: 100%; object-fit: contain"
            />
          </div>
        </div>
      </div>

      <!--------------------------- Uploaded CAD File ---------------------------->
      <div class="data" style="width: 100%">
        <!-- <div class="title1">
          <p>الشهادة لنهائية</p>
        </div> -->
        <div class="container mr-4">
          <div class="fields">
            <div class="field">
              <!-- <p><strong>الشهادة النهائية</strong></p> -->
              <a href="assets\محضر ارشاد.jpg" target="_blank"
                >تحميل الملف CAD</a
              >
              <br />
            </div>
            <button class="btn-redistribute" type="button">
              <a
                href="assets\محضر ارشاد.jpg"
                target="_blank"
                style="color: white; text-decoration: none"
              >
                اصدار الشهاده
              </a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
