<div class="login-container">
    <div class="left-half">
      <div class="image-container">
        <img src="assets/Building-Image.png" alt="Login Image" />
        <p class="overlay-text">قم بإنشاء طلب الرفع المساحي الخاص بك</p>
      </div>
    </div>
    <div class="right-half">
      <h2 class="login-heading">مستخدم جديد ؟</h2>
      <button type="button" class="btn btn-primary">أنشيء حساب</button>
  
      <form dir="rtl">
        <div class="input-container">
          <label for="userName">اسم المستخدم</label>
          <input type="text" id="userName" required />
        </div>
        <div class="input-container">
          <label for="password">كلمة المرور</label>
          <input type="password" id="password" required />
        </div>
        <button type="submit">تسجيل الدخول</button>
      </form>
    </div>
  </div>
  