<div class="container mt-4">
  <div class="row align-items-center shadow-box">
    <!-- Right section with logo and title -->
    <div
      class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end align-items-center order-1 order-md-2"
      style="margin-bottom: 25px"
    >
      <img src="assets/LogoText.png" alt="Egypt Logo" class="logotext" />
      <img
        src="assets/CoatOfArms.png"
        alt="Your Logo"
        class="logo coatofarms ms-2"
      />
    </div>

    <!-- Left section with buttons -->
    <div
      class="col-12 col-md-6 d-flex justify-content-center justify-content-md-start align-items-center order-2 order-md-1"
      style="font-size: 15px"
    >
      <button type="button" class="btn text-primary" style="font-size: inherit">
        تسجيل الخروج
      </button>
      <button
        type="button"
        class="btn btn-primary ms-3"
        style="font-size: inherit"
        [routerLink]="['/new_request_options']"
      >
        طلب جديد
      </button>
    </div>
  </div>

  <br />
  <div dir="rtl">
    <!-- User Greeting -->
    <div class="row my-4">
      <div class="col text-right">
        <h2>مرحبا، احمد</h2>
      </div>
    </div>

    <!-- User Info Box -->
    <div class="row">
      <div class="col">
        <div class="card custom-card p-5">
          <div class="row">
            <div class="col-md-4 text-right">
              <p><strong>الاسم:</strong> أحمد محمد السيد</p>
              <br />
              <p><strong>المحافظة:</strong> القاهرة</p>
            </div>
            <div class="col-md-4 text-right">
              <p><strong>اسم المستخدم:</strong> aelsayed</p>
              <br />
              <p><strong>الرقم القومي:</strong> 29945345684812</p>
            </div>
            <div class="col-md-4 text-right">
              <p><strong>البريد الإلكتروني:</strong> aelsayed12gmail.com</p>
              <br />
              <p><strong>رقم الهاتف:</strong> 01011213955</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Edit Button -->
    <div class="row my-4 text-center">
      <div class="col">
        <button type="button" class="btnEdit">تعديل البيانات</button>
      </div>
    </div>
    <br /><br />

    <!-- Requests Section -->
    <div class="row">
      <div class="col text-center">
        <h3 style="font-size: 30px">طلباتي</h3>
      </div>
    </div>
    <br /><br />

    <!-- Status Filters -->
    <div class="row">
      <div class="col-12">
        <img src="assets\Guide.png" style="width: 900px" height="90px" />
      </div>
    </div>
    <br /><br />
    <!-- <div class="requests-container">
      <div class="request-box">
        <div class="request-details">
          <span> رقم الطلب: 15617891125 </span>
          <span> الاسم: خالد أيمن </span>
          <span> التاريخ: 02/10/2014 </span>
          <span> <img src="assets/Done Icon.png" alt="Done" /></span>
        </div>
      </div>

      <div class="request-box">
        <div class="request-details">
          <span> رقم الطلب: 85455625425 </span>
          <span> الاسم: خالد أيمن </span>
          <span> التاريخ: 02/10/2014 </span>
          <span> <img src="assets/Rejected Icon.png" alt="Rejected" /></span>
        </div>
      </div>
    </div> -->

    <div class="request-box" *ngFor="let item of userReqests; let i = index">
      <div class="request-details" [routerLink]="['/getRequest', i]">
        <span> رقم الطلب: {{ item.reqNumber }} </span>
        <span> الاسم:{{ item.ownerFullName }} </span>
        <span> التاريخ: {{ item.date | date : "yyyy/MM/dd" }} </span>
        <span> <img src="assets\Pending Icon2.png" alt="Pending" /></span>
      </div>
    </div>
  </div>
</div>
