<nav class="navbar">
  <button class="cta-button" type="button" [routerLink]="['/admin_login']">
    تسجيل خروج
  </button>
  <div class="logo">
    <img
      class="text"
      src="/assets/LogoText.png"
      style="width: 212px; height: 29px"
    />
    <img src="/assets/CoatOfArms.png" style="width: 34px; height: 47px" />
  </div>
</nav>

<div class="parent">
  <div class="title">
    <h2>اللوحه الاداريه</h2>
  </div>

  
  <div
    class="option"
    (click)="isOptionEnabled('audit') ? navigateTo('/final_revision') : null"
  >
    <img src="/assets/audit.png" style="width: 50%" />
    <p>ادارة المراجعة النهائية</p>
  </div>

  
  <div
    class="option"
    (click)="
      isOptionEnabled('teams') ? navigateTo('/surveyors_assigning') : null
    "
  >
    <img src="/assets/teams.png" style="width: 50%" />
    <p>اداره فرق المسح</p>
  </div>
  <div
  class="option"
  (click)="isOptionEnabled('request') ? navigateTo('/requests_management') : null"
>
  <img src="/assets/request.png" style="width: 50%" />
  <p>اداره الطلبات</p>
</div>
<div
    class="option"
    (click)="isOptionEnabled('callCenter') ? navigateTo('/call_center') : null"
  >
    <img src="/assets/Call-Center.png" style="width: 50%" />
    <p>كول سنتر</p>
  </div>

<div
    class="option"
    (click)="isOptionEnabled('review') ? navigateTo('/revising_Management') : null"
  >
    <img src="/assets/review.png" style="width: 50%" />
    <p>اداره المراجعه</p>
  </div>
</div>
