<!--------------------------- Nav Bar ---------------------------->
<nav class="navbar">
  <button class="cta-button" type="button" [routerLink]="['/login']">
    تسجيل الدخول
  </button>
  <div class="nav-links">
    <!-- <a href="#about" class="nav-button">دليل الجهات الحكوميه</a>
      <a href="#services" class="nav-button">تصفح الخدمات</a> -->
  </div>
  <div class="logo">
    <img
      class="text"
      src="/assets/LogoText.png"
      style="width: 212px; height: 29px"
    />
    <img src="/assets/CoatOfArms.png" style="width: 34px; height: 47px" />
  </div>
</nav>
<div class="firstSection">
  <div class="titles">
    <h1>قم بانشاء طلب الرفع المساحي الخاص بك</h1>
    <h4>نساعدك بانشاء طلب مسح جغرافي للعقار الخاص بك</h4>
    <h4>ومتابعته عن طريق التسجيل الالكتروني</h4>
    <button class="cta" [routerLink]="['/new_request_options']">
      انشئ طلب
    </button>
    <div class="search-container">
      <button class="search-button">بحث</button>
      <input type="text" placeholder="..ابحث عن" class="search-input" />
    </div>
    <img class="arrowDown" src="/assets/Arrow Down.svg" />
  </div>
</div>

<div
  class="secondSection"
  style="width: 100vw; height: 400px; background-color: rgb(255, 255, 255)"
>
  <img class="process" src="/assets/Process.png" />
</div>

<div
  class="secondSection"
  style="width: 100vw; height: 100px; background-color: rgb(255, 255, 255)"
>
  <h1>ماذا نقدم لك؟</h1>
</div>

<!------------------------------Images Div------------------------------------>
<div
  class="fourthSection"
  style="width: 100vw; height: 1800px; background-color: rgb(255, 255, 255)"
>
  <div class="imageSection1">
    <img src="/assets/Building.png" />
    <div class="Info">
      <p style="font-size: 40px">نساعدك في المسح الجغرافي لأي مبني</p>
      <p style="font-size: 40px">عقاري من أي نوع</p>
      <p style="font-size: 20px">
        ندعم المسح الجغرافي لجميع انواع العقارات كالشقق بجميع انواعها او فيلا
      </p>
      <p style="font-size: 20px">
        او مباني اداريه الي آخره. لمعرفه جميع انواع العقارات المدعومه للمسح
        <a href="#">اضغط هنا</a>
      </p>
    </div>
  </div>
  <div class="imageSection2">
    <div class="Info">
      <p style="font-size: 40px">بعد تقديم الطلب يقوم احد ممثلينا</p>
      <p style="font-size: 40px">بالتواصل معك لتحديد موعد المسح</p>
      <p style="font-size: 20px">
        يتواصل معك احد ممثلينا لتحديد موعد المسح والبدء في عمليه التدقيق
      </p>
      <p style="font-size: 20px">في الموعد المحدد لذلك الاجراء</p>
    </div>
    <img src="/assets/Agent.png" />
  </div>
  <div class="imageSection3">
    <img src="/assets/FawryLogo.png" />
    <div class="Info">
      <p style="font-size: 40px">نقدم لك اسهل طرق الدفع لتسهيل</p>
      <p style="font-size: 40px">عمليه المسح</p>
      <p style="font-size: 20px">
        نقدم اسهل طرق الدفع، كالدفع عن طريق فوري من تطبيق فوري علي هاتفك
      </p>
      <p style="font-size: 20px">
        الشخصي او اي كٌشك يدعم الدفع عن طريق فوري باستخدام الرقم المرجعي
      </p>
      <p style="font-size: 20px">التي ستحصل عليه عن البدء في عمليه الدفع</p>
    </div>
  </div>
</div>
<div class="payment">
  <img class="process" src="/assets/FawryPay.png" />
</div>
