<div class="firstSection">
  <div class="titles">
    <h1>قم بانشاء طلب الرفع المساحي الخاص بك</h1>
    <h4>نساعدك بانشاء طلب مسح جغرافي للعقار الخاص بك</h4>
    <h4>ومتابعته عن طريق التسجيل الالكتروني</h4>
    <button class="cta">انشئ طلب</button>
    <div class="search-container">
      <button class="search-button">بحث</button>
      <input type="text" placeholder="..ابحث عن" class="search-input" />
    </div>
    <img class="arrowDown" src="/assets/Arrow Down.svg" />
  </div>
</div>

<div
  class="secondSection"
  style="width: 100vw; height: 1000px; background-color: rgb(255, 255, 255)"
></div>
